<!DOCTYPE html>
<html>
<head>
	<title>Jokester</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div>

	<%= link_to image_tag( 'logo_small.png' ), root_path %>
	</div>

	<header>
		<div class="nav">
			<ul>
				<li class="home"><a href="/jokes">Home</a></li>

				<li class="favorites"><a href="#">Favorites</a></li>
				<li class="about"><a href="#">About Us</a></li>
				<li class="loginn"><a href="/users/sign_in">Login</a></li>
				<li class="signup"><a href="/users/new">Sign Up</a></li>
				<li class="signout"><a href=" /users/sign_out">Sign Out</a></li>
			</ul>
		</div>
	</header>

	<%= yield %>
</body>
</html>
